# CMake build files
build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
Testing/
# Generated cmake files in subdirectories
**/cmake_install.cmake
**/CTestTestfile.cmake

# IDE files
.cproject
.settings
.project
.cache
.vs
.idea
cmake-build-debug/

# Editor files
*.orig
*.bak
*~
*.tlog
*.ipdb
*.iobj
*.idb
*.lastbuildstate
*.db
*.opendb

# Development files
/_*/
/rtl_433_tests
tests/

# File manager files
.DS_Store
.history
